university/src/test/resources/dataset.dtd

<!ELEMENT dataset (
        INVENTION*,
        CREATOR*,
        CREATOR_INVENTION*
        )>

<!ELEMENT INVENTION EMPTY>
<!ATTLIST INVENTION
        ID CDATA #REQUIRED
        NAME CDATA #REQUIRED
        DEADLY CDATA #REQUIRED
        DESCRIPTION CDATA #REQUIRED
        SOLD CDATA #REQUIRED>

<!ELEMENT CREATOR EMPTY>
<!ATTLIST  CREATOR
        ID CDATA #REQUIRED
        NAME CDATA #REQUIRED
        SURNAME CDATA #REQUIRED
        NICKNAME CDATA #REQUIRED>

<!ELEMENT CREATOR_INVENTION EMPTY>
<!ATTLIST
        INVENTIONS_ID CDATA #REQUIRED
        CREATOR_ID CDATA #REQUIRED>